In [23]:
import pandas as pd

In [24]:
df = pd.read_csv(r"C:\Users\Suraj\Downloads\data.csv")

In [25]:
df.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [26]:
# total impression of age group 30 - 34
df[df['age']=='30-34']['impressions'].sum()

35678593.0

In [27]:
# get all ad_ids for every campaign_id (a campaign contains multiple ads)
df.groupby('campaign_id')['ad_id'].apply(list)

campaign_id
1178     [1121091, 1121092, 1121094, 1121095, 1121096, ...
30-34    [1121741, 1121742, 1121745, 1121746, 1121749, ...
35-39    [1121889, 1121890, 1121891, 1121894, 1121895, ...
40-44    [1122039, 1122040, 1122041, 1122043, 1122044, ...
45-49    [1121594, 1121597, 1121598, 1121599, 1121601, ...
916      [708746, 708749, 708771, 708815, 708818, 70882...
936      [734209, 734210, 734215, 734243, 734266, 73427...
Name: ad_id, dtype: object

In [30]:
# total clicks where report_start between dates 19/08/2017 to 22/08/2017 (both inclusive).
df['reporting_start'] = pd.to_datetime(df['reporting_start'])
df[(df['reporting_start'] >= '2017-08-19') & (df['reporting_start'] <= '2017-08-22')]['clicks'].sum()

3763